@import "tailwindcss";
@import "tw-animate-css";

@reference "./jk-ui/base.css";
@reference "./jk-ui/form.css";
@reference "./jk-ui/button.css";
@reference "./jk-ui/ui.css";
@reference "./jk-ui/utils.css";

@reference "./button-styles.css";
@reference "./utilities.css";


@plugin "@iconify/tailwind4" {
  prefixes: ph;
  scale: 1.0;
}



@custom-variant dark (&:is(.dark *));

:root {
  --pattern-bg-1: --alpha(var(--color-gray-300)/60%);
  --pattern-bg-2: --alpha(var(--color-gray-200)/90%);
  --pattern-bg-3: var(--color-gray-200);
  --pattern-bg-4: var(--color-gray-300);
  --primary: var(--color-primary-600);
  --secondary: var(--color-secondary-600);
  --accent: var(--color-accent-600);
  --info: var(--color-info-600);
  --warning: var(--color-warning-600);
  --danger: var(--color-danger-600);
  --success: var(--color-success-600);

  --fg-title: var(--color-gray-900);
  --fg-subtitle: var(--color-gray-800);
  --fg: var(--color-gray-700);
  --fg-muted: var(--color-gray-600);

  --bg: var(--color-white);
  --bg-subtle: var(--color-gray-100);
  --bg-surface: var(--color-gray-50);
  --bg-muted: var(--color-gray-200);
  --card: var(--bg);
  --overlay: var(--bg);

  --border-strong: var(--color-gray-300);
  --border: var(--color-gray-200);
  --border-card: var(--color-gray-200);
  --border-input: var(--color-gray-200);

  --ui-input-focus-outline: var(--color-primary);
  --ui-input-place-holder: var(--color-gray-500);
  --ui-input-invalid-outline: var(--color-danger);
  --ring-bg: var(--color-primary);
  --ring-offset-color: var(--bg);

  --focus-ring: var(--color-primary-200);

  --ui-radius: 0px;
  --card-radius: 0px;

  --checkbox-bg: var(--bg);
  --checkbox-fg: transparent;
  --checkbox-bg-checked: var(--color-primary);
  --checkbox-fg-checked: var(--color-white);
  --checkbox-bg-invalid: var(--color-danger);
  --checkbox-fg-invalid: var(--color-white);

}

.dark {
  --primary: var(--color-primary-500);
  --secondary: var(--color-secondary-500);
  --accent: var(--color-accent-500);
  --info: var(--color-info-500);
  --warning: var(--color-warning-500);
  --danger: var(--color-danger-500);
  --success: var(--color-success-500);

  --fg-title: var(--color-white);
  --fg-subtitle: var(--color-gray-100);
  --fg: var(--color-gray-300);
  --fg-muted: var(--color-gray-400);

  --bg: var(--color-gray-950);
  --bg-subtle: var(--color-gray-900);
  --bg-surface: --alpha(var(--color-gray-900)/70%);
  --bg-muted: var(--color-gray-800);

  --border-strong: var(--color-gray-700);
  --border: var(--color-gray-900);
  --border-card: var(--color-gray-800);
  --border-input: var(--color-gray-700);

  --focus-ring: --alpha(var(--primary-800)/30%);

  --pattern-bg-1: --alpha(var(--color-gray-950)/60%);
  --pattern-bg-2: --alpha(var(--color-primary-950)/10%);
  --pattern-bg-3: var(--color-gray-900);
  --pattern-bg-4: --alpha(var(--color-primary-950)/30%);

}

@theme {

  --color-pattern-bg-1: var(--pattern-bg-1);
  --color-pattern-bg-2: var(--pattern-bg-2);
  --color-pattern-bg-3: var(--pattern-bg-3);
  --color-pattern-bg-4: var(--pattern-bg-4);

  --color-primary-50: var(--color-sky-50);
  --color-primary-100: var(--color-sky-100);
  --color-primary-200: var(--color-sky-200);
  --color-primary-300: var(--color-sky-300);
  --color-primary-400: var(--color-sky-400);
  --color-primary-500: var(--color-sky-500);
  --color-primary-600: var(--color-sky-600);
  --color-primary-700: var(--color-sky-700);
  --color-primary-800: var(--color-sky-800);
  --color-primary-900: var(--color-sky-900);
  --color-primary-950: var(--color-sky-950);


  --color-secondary-50: hsl(46, 70%, 95%);
  --color-secondary-100: hsl(45, 67%, 88%);
  --color-secondary-200: hsl(45, 65%, 77%);
  --color-secondary-300: hsl(42, 74%, 64%);
  --color-secondary-400: hsl(37, 74%, 53%);
  --color-secondary-500: hsl(39, 65%, 47%);
  --color-secondary-600: hsl(37, 67%, 40%);
  --color-secondary-700: hsl(36, 64%, 33%);
  --color-secondary-800: hsl(35, 57%, 29%);
  --color-secondary-900: hsl(34, 51%, 26%);
  --color-secondary-950: hsl(32, 58%, 14%);




  --color-gray-50: hsl(0, 0%, 98%);
  --color-gray-100: hsl(240, 5%, 96%);
  --color-gray-200: hsl(240, 6%, 90%);
  --color-gray-300: hsl(240, 5%, 84%);
  --color-gray-400: hsl(240, 5%, 65%);
  --color-gray-500: hsl(240, 4%, 46%);
  --color-gray-600: hsl(240, 5%, 34%);
  --color-gray-700: hsl(240, 5%, 26%);
  --color-gray-800: hsl(240, 4%, 16%);
  --color-gray-900: hsl(240, 6%, 10%);
  --color-gray-950: hsl(240, 10%, 4%);
}

@theme inline {
  --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --radius-ui: var(--ui-radius);
  --radius-card: var(--card-radius);
  --radius-checkbox: var(--checkbox-radius);

  --color-dark: var(--color-gray-950);
  --color-ring: var(--color-primary-600);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-success: var(--success);

  --color-fg-title: var(--fg-title);
  --color-fg-subtitle: var(--fg-subtitle);
  --color-fg: var(--fg);
  --color-fg-muted: var(--fg-muted);

  --color-bg: var(--bg);
  --color-bg-subtle: var(--bg-subtle);
  --color-bg-surface: var(--bg-surface);
  --color-bg-muted: var(--bg-muted);
  --color-card: var(--card);
  --color-popover: var(--bg);
  --color-overlay: var(--overlay);

  --color-border-strong: var(--border-strong);
  --color-border: var(--border);
  --color-border-card: var(--border-card);
  --color-border-input: var(--border-input);
}


@layer base {
  * {
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--color-border-strong) transparent;
  }

  html {
    font-variation-settings: normal;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-border-strong);
    border-radius: 4px;
  }
}


@layer components {
  .noise-demo {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.15'/%3E%3C/svg%3E");
  }



  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.1rem;
  }

  .breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
  }



  .clippathtripzoide {
    -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  }

  .clippathtripzoide2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
  }

}