

/* disclosure group */
@utility disclosure-group {
  @apply [--disclosure-gutter-x:--spacing(4)] [--disclosure-radius:var(--radius-lg)] [--disclosure-collapsed-border:var(--color-border)] [--disclosure-expanded-border:var(--color-muted-fg)/30] [--disclosure-collapsed-bg:var(--color-bg)] [--disclosure-collapsed-fg:var(--color-muted-fg)] [--disclosure-expanded-bg:var(--color-secondary)]/20 [--disclosure-expanded-fg:var(--color-fg)] flex flex-col gap-y-2;
}


@utility ui-card {
  @apply p-(--card-padding) rounded-(--card-radius);
}

@utility inner-radius {
  border-radius: calc(var(--card-radius) - var(--card-padding));
}

@utility d-flex-items-center {
  @apply flex items-center;
}

@utility d-flex-place-center {
  @apply flex justify-center items-center;
}


@utility ui-grid-dotted {
  background-image: radial-gradient(currentColor var(--dotsize), var(--bg-grid-dotted) var(--dotsize));
  background-size: var(--unify-ui-grid-width) var(--unify-ui-grid-height);
}

@utility ui-radial-gradient {
  background: radial-gradient(125% 125% at 50% 10%, var(--unify-radial-bg) 40%, currentColor 100%);
}

@utility ui-grid {
  --unify-grid-color: currentColor;
  background-image: linear-gradient(to right, var(--unify-grid-color) 1px, transparent 1px), linear-gradient(to bottom, var(--unify-grid-color) 1px, transparent 1px);
  background-size: var(--unify-ui-grid-width) var(--unify-ui-grid-height);
}

@utility ui-striper-overlay-mask {
  mask-image: radial-gradient(ellipse 60% 50% at 50% 0%, #000 70%, transparent 110%);
}