
@import "tailwindcss";
@import "tw-animate-css";

@reference "./jk-ui/base.css";
@reference "./jk-ui/form.css";
@reference "./jk-ui/button.css";
@reference "./jk-ui/ui.css";
@reference "./jk-ui/utils.css";

@reference "./button-styles.css";
@reference "./utilities.css";


@plugin "@iconify/tailwind4" {
  prefixes: ph;
  scale: 1.0;
}



@custom-variant dark (&:is(.dark *));

:root {
  --primary: var(--color-primary-600);
  --secondary: var(--color-secondary-600);

  --fg-title: var(--color-gray-900);
  --fg-subtitle: var(--color-gray-800);
  --fg: var(--color-gray-700);
  --fg-muted: var(--color-gray-600);

  --bg: var(--color-white);
  --bg-subtle: var(--color-gray-100);
  --bg-surface: var(--color-gray-50);
  --bg-muted: var(--color-gray-200);
  --card: var(--bg);
  --overlay: var(--bg);

  --border-strong: var(--color-gray-300);
  --border: var(--color-gray-200);
  --border-card: var(--color-gray-200);
  --border-input: var(--color-gray-200);

  --ui-input-focus-outline: var(--color-primary);
  --ui-input-place-holder: var(--color-gray-500);
  --ui-input-invalid-outline: var(--color-danger);
  --ring-bg: var(--color-primary);
  --ring-offset-color: var(--bg);

  --focus-ring: var(--color-primary-200);

  --ui-radius: var(--radius-lg);
  --card-radius: var(--radius-lg);
}

.dark {
  --primary: var(--color-primary-500);
  --secondary: var(--color-secondary-500);
  --accent: var(--color-accent-500);
 

  --fg-title: var(--color-white);
  --fg-subtitle: var(--color-gray-100);
  --fg: var(--color-gray-300);
  --fg-muted: var(--color-gray-400);

  --bg: var(--color-gray-950);
  --bg-subtle: var(--color-gray-900);
  --bg-surface: --alpha(var(--color-gray-900)/70%);
  --bg-muted: var(--color-gray-800);

  --border-strong: var(--color-gray-700);
  --border: var(--color-gray-900);
  --border-card: var(--color-gray-800);
  --border-input: var(--color-gray-700);

  --focus-ring: --alpha(var(--color-primary-800)/30%);
}

@theme {
  --color-primary-50: hsl(3, 100%, 97%);
  --color-primary-100: hsl(3, 100%, 94%);
  --color-primary-200: hsl(3, 100%, 89%);
  --color-primary-300: hsl(2, 100%, 81%);
  --color-primary-400: hsl(2, 100%, 70%);
  --color-primary-500: hsl(2, 98%, 60%);
  --color-primary-600: hsl(2, 85%, 47%);
  --color-primary-700: hsl(2, 86%, 42%);
  --color-primary-800: hsl(2, 81%, 35%);
  --color-primary-900: hsl(2, 67%, 31%);
  --color-primary-950: hsl(2, 87%, 15%);


  --color-secondary-50: hsl(36, 100%, 94%);
  --color-secondary-100: hsl(36, 100%, 83%);
  --color-secondary-200: hsl(32, 100%, 71%);
  --color-secondary-300: hsl(25, 100%, 63%);
  --color-secondary-400: hsl(19, 100%, 58%);
  --color-secondary-500: hsl(16, 100%, 50%);
  --color-secondary-600: hsl(15, 100%, 48%);
  --color-secondary-700: hsl(14, 100%, 45%);
  --color-secondary-800: hsl(13, 100%, 42%);
  --color-secondary-900: hsl(12, 100%, 37%);
  --color-secondary-950: hsl(12, 100%, 27%);




  --color-gray-50: hsl(60, 9%, 98%);
  --color-gray-100: hsl(60, 5%, 96%);
  --color-gray-200: hsl(20, 6%, 90%);
  --color-gray-300: hsl(24, 6%, 83%);
  --color-gray-400: hsl(24, 5%, 64%);
  --color-gray-500: hsl(25, 5%, 45%);
  --color-gray-600: hsl(33, 5%, 32%);
  --color-gray-700: hsl(30, 6%, 25%);
  --color-gray-800: hsl(12, 6%, 15%);
  --color-gray-900: hsl(24, 10%, 10%);
  --color-gray-950: hsl(20, 14%, 4%);
}


@theme inline {
  --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --radius-ui: var(--ui-radius);
  --radius-card: var(--card-radius);
  --radius-checkbox: var(--checkbox-radius);
  --radius-dropdown-item: var(--popover-inner-radius, 0px);

  --color-dark: var(--color-gray-950);
  --color-ring: var(--color-primary-600);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-fg-title: var(--fg-title);
  --color-fg-subtitle: var(--fg-subtitle);
  --color-fg: var(--fg);
  --color-fg-muted: var(--fg-muted);

  --color-bg: var(--bg);
  --color-bg-subtle: var(--bg-subtle);
  --color-bg-surface: var(--bg-surface);
  --color-bg-muted: var(--bg-muted);
  --color-card: var(--card);
  --color-popover: var(--bg);
  --color-overlay: var(--overlay);

  --color-border-strong: var(--border-strong);
  --color-border: var(--border);
  --color-border-card: var(--border-card);
  --color-border-input: var(--border-input);
}


@layer base {
    * {
        text-rendering: optimizeLegibility;
        scrollbar-width: thin;
        scrollbar-color: var(--color-border-strong) transparent;
    }

    html {
        font-variation-settings: normal;
        height: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-tap-highlight-color: transparent;
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-border-strong);
        border-radius: 4px;
    }
}
