@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@plugin "@iconify/tailwind4" {
    prefixes: hugeicons;
    scale: 1.2;
}

:root {
    --background: var(--color-white);
    --foreground: var(--color-gray-700);
    --title-forground: var(--color-gray-900);
    --card: var(--color-white);
    --card-foreground: var(--color-gray-700);
    --popover: var(--color-white);
    --popover-foreground: var(--color-gray-700);
    --primary: var(--color-sky-500);
    --primary-foreground: var(--color-sky-950);
    --secondary: var(--color-indigo-600);
    --secondary-foreground: var(--color-indigo-50);
    --muted: var(--color-gray-200);
    --muted-foreground: var(--color-gray-600);
    --accent: var(--color-gray-100);
    --accent-foreground: var(--color-gray-800);
    --destructive: var(--color-red-600);
    --destructive-foreground: var(--color-red-50);
    --border: var(--color-gray-200);
    --border-button: var(--color-gray-300);
    --border-hover: var(--color-gray-400);
    --input: var(--color-gray-200);
    --ring: var(--color-gray-400);

    --pattern-bg-1: --alpha(var(--color-gray-300)/60%);
    --pattern-bg-2: --alpha(var(--color-gray-200)/90%);
    --pattern-bg-3: var(--color-gray-200);
    --pattern-bg-4: var(--color-gray-300);
}

.dark {
    --background: var(--color-gray-950);
    --foreground: var(--color-gray-300);
    --title-forground: var(--color-white);
    --card: var(--color-gray-900);
    --card-foreground: var(--color-gray-300);
    --popover: var(--color-gray-950);
    --popover-foreground: var(--color-gray-700);

    /* --primary: var(--color-sky-500); */
    --primary-foreground: var(--color-sky-950);
    /* --secondary: var(--color-indigo-600); */
    --secondary-foreground: var(--color-indigo-50);
    --muted: var(--color-gray-800);
    --muted-foreground: var(--color-gray-400);
    --accent: var(--color-gray-900);
    --accent-foreground: var(--color-gray-200);
    --destructive: var(--color-red-500);
    --destructive-foreground: var(--color-red-950);
    --border: var(--color-gray-800);
    --border-button: var(--color-gray-800);
    --border-hover: var(--color-gray-700);
    --input: var(--color-gray-800);
    --ring: var(--color-gray-400);


    --pattern-bg-1: --alpha(var(--color-gray-950)/60%);
    --pattern-bg-2: --alpha(var(--color-primary-950)/10%);
    --pattern-bg-3: var(--color-gray-900);
    --pattern-bg-4: --alpha(var(--color-primary-950)/30%);
}

@theme {
    --breakpoint-xs: 330px;
    --breakpoint-midsm: 530px;
    --breakpoint-midmd: 850px;


    --color-pattern-bg-1: var(--pattern-bg-1);
    --color-pattern-bg-2: var(--pattern-bg-2);
    --color-pattern-bg-3: var(--pattern-bg-3);
    --color-pattern-bg-4: var(--pattern-bg-4);



    --color-primary-50: oklch(0.9789 0.0157 216.67);
    --color-primary-100: oklch(0.9489 0.0347 221.88);
    --color-primary-200: oklch(0.9158 0.0621 218.07);
    --color-primary-300: oklch(0.8732 0.0992 216.02);
    --color-primary-400: oklch(0.8175 0.1309 221.33);
    --color-primary-500: oklch(0.7436 0.1539 235.83);
    --color-primary-600: oklch(0.6783 0.1793 247.54);
    --color-primary-700: oklch(0.5995 0.1885 253.62);
    --color-primary-800: oklch(0.5220 0.1649 254.47);
    --color-primary-900: oklch(0.4584 0.1269 251.16);
    --color-primary-950: oklch(0.3279 0.0818 251.45);


    --color-secondary-50: oklch(0.977 0.013 236.62);
    --color-secondary-100: oklch(0.951 0.026 236.824);
    --color-secondary-200: oklch(0.901 0.058 230.902);
    --color-secondary-300: oklch(0.828 0.111 230.318);
    --color-secondary-400: oklch(0.746 0.16 232.661);
    --color-secondary-500: oklch(0.685 0.169 237.323);
    --color-secondary-600: oklch(0.588 0.158 241.966);
    --color-secondary-700: oklch(0.5 0.134 242.749);
    --color-secondary-800: oklch(0.443 0.11 240.79);
    --color-secondary-900: oklch(0.391 0.09 240.876);
    --color-secondary-950: oklch(0.293 0.066 243.157);



    --color-gray-50: oklch(97% 0.01 270);
    --color-gray-100: oklch(94% 0.015 270);
    --color-gray-200: oklch(88% 0.02 270);
    --color-gray-300: oklch(80% 0.03 270);
    --color-gray-400: oklch(72% 0.04 270);
    --color-gray-500: oklch(62% 0.05 270);
    --color-gray-600: oklch(52% 0.05 270);
    --color-gray-700: oklch(42% 0.045 270);
    --color-gray-800: oklch(32% 0.035 270);
    --color-gray-900: oklch(22% 0.025 270);
    --color-gray-950: oklch(15% 0.02 270);


}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-title-forground: var(--title-forground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-border-button: var(--border-button);
    --color-border-hover: var(--border-hover);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --radius-ui: var(--radius-xl);
}





.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.1rem;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
}



.clippathtripzoide {
    -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
}

.clippathtripzoide2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
}




@layer base {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply overflow-hidden overflow-y-auto lg:overflow-y-auto bg-background
    }

}

@layer components{
    .noise-demo {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.15'/%3E%3C/svg%3E");
}
}


